.pageTitle {
  font-size: 24px;
  margin: 0 0 24px;
}

.cloneButton {
  width: max-content;
  padding: 4px 8px;
}

.cloneResponseContainer {
  display: flex;
  flex-direction: column;
  width: max-content;
  border: 1px solid grey;
  padding: 4px;
}

.preloaderCaption {
  margin-top: 36px;
}
