.pageTitle {
  font-size: 24px;
  margin: 0 0 24px;
}

.cloneRequestContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  input {
    flex: 1;
    padding: 4px 8px;
  }
}

.cloneButton {
  width: max-content;
  padding: 4px 8px;
}

.cloneResponseContainer {
  position: relative;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: max-content;
  border: 1px solid grey;
  padding: 8px 4px;
  height: 50vh;
}

.cloneFile {
  display: flex;
  padding: 4px 16px;
  align-items: center;

  &:hover {
    background: #A5D6A7;
  }

  & svg {
    cursor: pointer;
  }
}

.cloneFileName {
  flex: 1;
}

.preloaderCaption {
  margin-top: 36px;
}
