.nav {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: max-content;
  top: 0;
  height: 100vh;
  margin-right: 1rem;
  z-index: 1;
  margin-right: 1.25rem;
  padding: 0 24px 0 0;

  &::scroll {
    z-index: -1;
  }

  &.autosuggestOpen {
    & >:nth-child(2) {
      display: none;
    }
  }
}
